extends layout

block content
    .container
        .logi_container
            .logi_area
                h1 LOGIN
                .input_area
                    .usr_input_area
                        .logo
                          span.iconfont  &#xe611;
                        .usr_input
                            input(type='text' placeholder='username')
                    .psw_input_area
                        .logo
                          span.iconfont  &#xe617;
                        .psw_input
                            input(type='password' placeholder='password')
                    .submit sign in



